<div class="card">
  <div class="card-image">
      <div class="photo" style="background-image: url('/src/assets/user_fill_add.svg');">
      </div>
  </div>
  <div class="card-info">
      <p class="status-fav">
          <span>VIVO : FINADO / 'ESTUDIANTE' : 'STAFF'</span>
          <img src="/assets/bookmark.svg">
          <img src="/assets/bookmark_fav.svg">
      </p>

      <h3>
          <span>+</span>Juan Alberto
      </h3>

      <p>
          <span>Cumpleaños:</span> 20-02-1994
      </p>
      <p>
          <span>Genero:</span> Male
      </p>
      <p>
          <span>Color de ojos:</span> Green
      </p>
      <p>
          <span>Color de pelo:</span> Black
      </p>
  </div>
</div>