<div class="card">
  <div class="card-image gryffindor">
      <div class="photo" style="background-image: url('/assets/user_fill_add.svg');">
      </div>
  </div>
  <div class="card-info">
    <h3 class="mini">
        <span>+</span>Juan Alberto
    </h3>

    <p class="status-fav">
          <span> <span class="status">VIVO</span> <span class="slash">/</span> <span>ESTUDIANTE</span> </span>
          <img src="/assets/bookmark.svg">
      </p>

      <h3 class="max">
          <span>+</span>Juan Alberto
      </h3>

      <p>
          <span>Cumpleaños:</span> 20-02-1994
      </p>
      <p>
          <span>Genero:</span> Male
      </p>
      <p>
          <span>Color de ojos:</span> Green
      </p>
      <p>
          <span>Color de pelo:</span> Black
      </p>
  </div>
</div>