@import '../../variables';

.card {
    background-color: white;
    width: 515px;
    height: 265px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;

    &.dead {
        background-color: #ccc;
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;

        &.gryffindor {
            background: $gradient-gryffindor;
        }
        &.slytherin {
            background: $gradient-slytherin;
        }
        &.hufflepuff {
            background: $gradient-hufflepuff;
        }
        &.ravenclaw {
            background: $gradient-ravenclaw;
        }

        .photo {
            width: 169.3px;
            height: 169.3px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .card-info {
        width: 305px;
        padding: 20px;

        .status-fav {
            display: flex;
            justify-content: space-between;
            color: #999;

            img {
                cursor: pointer;
            }
        }

        h3.max {
            margin: 20px 0;
            font-weight: 600;
            font-size: 30px;
        }

        h3.mini {
            display: none;
        }

        p {
            font-size: 14px;
            line-height: 27px;
            color: #3b3e41;

            span {
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    .card {
        width: 450px;
    }
}

@media only screen and (max-width: 880px) {
    .card {
        width: 380px;

        .card-info {
            p {
                line-height: 20px;
            }
        }
    }
}

@media only screen and (max-width: 755px) {
    .card {
        flex-direction: column;
        width: 140px;
        height: 181px;

        .card-image {
            width: 140px;
            height: 90px;

            .photo {
                width: 80px;
                height: 80px;
            }
        }

        .card-info {
            width: auto;
            height: 91px;
            padding: 0 10px;

            .status-fav {
                margin-top: 10px;
                font-size: 11px;

                .status {
                    display: block;
                    margin-bottom: -10px;
                }

                .slash {
                    display: none;
                }
            }
    
            h3.mini {
                display: block;
                font-weight: 600;
                font-size: 17px;
                margin-top: 10px;
            }

            h3.max {
                display: none;
            }

            p {
                display: none;
            }

        }
  }
}