<h2>Selecciona tu filtro</h2>

<div class="filters">
    <button
        class="button"
        [class]="filterIsActive('student') ? 'active' : ''"
        (click)="toggleFilter('student')">
        ESTUDIANTES
    </button>
    <button 
        class="button"
        [class]="filterIsActive('staff') ? 'active' : ''"
        (click)="toggleFilter('staff')">
        STAFF
    </button>
    <button 
        class="button"
        [class]="filterIsActive('dead') ? 'active' : ''"
        (click)="toggleFilter('dead')">
        FINADOS
    </button>
</div>