<div class="modal">
  <div class="modal-add" *ngIf="visible">
    <h2>Agregar un personaje <img class="close" (click)="close()" src="/assets/close.svg"></h2>
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
        <div class="fila">
          <div>
            <label for="name">NOMBRE</label><br>
            <input class="text" type="text" name="name" formControlName="name">
          </div>
          <div>
            <label for="birth">CUMPLEAÑOS</label><br>
            <input class="text" type="text" name="dateOfBirth" formControlName="dateOfBirth">
          </div>
        </div>
        <div class="fila">
          <div>
            <label for="eyes">COLOR DE OJOS</label><br>
            <input class="text" type="text" name="eyeColour" formControlName="eyeColour">
          </div>
          <div>
            <label for="hair">COLOR DE PELO</label><br>
            <input class="text" type="text" name="hairColour" formControlName="hairColour">
          </div>
        </div>
        <div class="fila">
          <div>
            <label for="position">GÉNERO</label><br>
            <div class="fila radios">
              <div>
                <input type="radio" name="gender" formControlName="gender" id="female" value="female">
                <label for="female">Mujer</label>
              </div>
              <div>
                <input type="radio" name="gender" formControlName="gender" id="male" value="male">
                <label for="male">Hombre</label>
              </div>
            </div>
          </div>
          <div>
            <label for="position">POSICIÓN</label><br>
            <div class="fila radios">
              <div>
                <input type="radio" name="position" formControlName="position" id="student" value="student">
                <label for="student">Estudiante</label>
              </div>
              <div>
                <input type="radio" name="position" formControlName="position" id="staff" value="staff">
                <label for="staff">Staff</label>
              </div>
            </div>
          </div>
        </div>
        <div class="fila">
          <div>
            <label for="foto">FOTOGRAFIA *</label><br>
            <input type="file" name="image" formControlName="image" id="image">
          </div>
        </div>
        <div class="center">
          <input type="submit" class="button" value="GUARDAR">
        </div>
    </form>
  </div>
</div>