@import '../../variables';

.list-favoritos {
  position: absolute;
  top: 0;
  width: 281px;
  background: $color-primary;
  border-radius: 10px;

  padding-top: 50px;
  display: flex;
  color: white;

  ul {
    list-style: none;
  }

  li {
    justify-content: center;
    padding: 10px 15px;

      .remove {
          cursor: pointer;
      }
  }
}

@media only screen and (max-width: 500px) {
  .list-favoritos {
    top: inherit;
    bottom: 0;

    padding-top: 0;
    padding-bottom: 50px;
  }
}