@import '../../variables';

.list-favoritos {
  position: absolute;
  top: 0;
  width: 281px;
  background: $color-primary;
  border-radius: 10px;

  padding-top: 50px;
  display: flex;
  color: white;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 10px;
    
      .photo {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-position: center;
      }

      .characterName {
        flex: 2;
        padding: 0.5rem;
      }

      .remove {
        cursor: pointer;
      }
  }
}

@media only screen and (max-width: 500px) {
  .list-favoritos {
    top: inherit;
    bottom: 0;

    padding-top: 0;
    padding-bottom: 50px;
  }
}